.ant-breadcrumb-separator {
  display: flex !important;
  align-items: center !important;
  margin-bottom: 0.25rem !important;
  font-size: 1.25rem !important;
  line-height: 0 !important;
  font-weight: 500 !important;
}
