.ant-select-clear {
  width: 1.25rem !important;
  height: 1.25rem !important;
  transform: translateY(-0.25rem) !important;
}

.ant-select-open,
.ant-select-focused {
  .ant-select-selector {
    box-shadow: 0 0 0 2px var(--neutral-300-color) !important;
  }
}

.ant-space-compact {
  .ant-select-focused:not(.ant-select-open) {
    .ant-select-selector {
      box-shadow: none !important;
      border-color: var(--neutral-400-color) !important;
    }
  }
}

.rc-virtual-list-scrollbar-thumb,
.ant-select-tree-list-scrollbar-thumb {
  background-color: var(--neutral-400-color) !important;
  width: 10px !important;
  border: 3px solid var(--neutral-100-color) !important;
  border-radius: 8px !important;
}

.ant-color-picker-input-container {
  .ant-select-selector {
    box-shadow: none !important;
  }
}

.ant-select-item-option-content {
  display: flex;
  align-items: center;
}
