.ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}

.ant-table-body {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.ant-table-cell {
  vertical-align: middle;
}

.ant-table-thead:has(.resizing) {
  th {
    pointer-events: none !important;

    .resize-handle {
      pointer-events: auto !important;
    }
  }
}

/* Editable Table */
.editable-table {
  tbody {
    .ant-table-cell {
      padding: 0.25rem 0.5rem !important;
    }
  }

  .editable-cell {
    position: relative;
  }

  .editable-row {
    height: 3.05rem !important; /* 48.8px */
  }

  .editable-cell-value-wrap {
    padding: 5px 8px !important;
    cursor: pointer;
  }

  .editable-row:hover .editable-cell-value-wrap {
    padding: 4px 7px !important;
    border: 1px solid var(--neutral-300-color);
    border-radius: 2px;
  }

  .disabled-cell-value-wrap {
    padding: 5px 8px !important;
  }
}

/* Table with expandable row */
.ant-table-row-level-0:has(.ant-table-row-expand-icon-expanded) > td {
  border-top: 1px solid #000 !important;
  border-bottom: 1px solid #000 !important;
  background-color: var(--neutral-100-color);
}

.ant-table-row-level-0:has(.ant-table-row-expand-icon-expanded)
  > td:first-child,
.ant-table-row-level-1 > td:first-child {
  border-left: 1px solid #000 !important;
}

.ant-table-row-level-0:has(.ant-table-row-expand-icon-expanded) > td:last-child,
.ant-table-row-level-1 > td:last-child {
  border-right: 1px solid #000 !important;
}

.ant-table-row-level-1 + .ant-table-row-level-0 > td {
  border-top: 1px solid #000 !important;
}

.ant-table-cell:has(.ant-table-expanded-row-fixed) {
  border-right: 1px solid #000 !important;
}

.ant-table-expanded-row-fixed {
  border-left: 1px solid #000 !important;
}
