.ant-table-wrapper .ant-table {
  scrollbar-color: unset;
}

.ant-table-body {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 300ms;
}

.ant-table-cell {
  vertical-align: middle;
}

.ant-table-thead:has(.resizing) {
  th {
    pointer-events: none !important;

    .resize-handle {
      pointer-events: auto !important;
    }
  }
}
